/*.c-size-1{width: 8.33333%;}
		.c-size-2{width: 16.66666%;}
		.c-size-3{width: 25%;}
		.c-size-4{width: 33.33333%;}
		.c-size-5{width: 41.66666%;}
		.c-size-6{width: 50%;}
		.c-size-7{width: 58.33333%;}
		.c-size-8{width: 66.66666%;}
		.c-size-9{width: 75%;}
		.c-size-10{width: 83.33333%;}
		.c-size-11{width: 91.66666%;}
		.c-size-12{width: 100%;}*/
		/**{
			margin: 0;
			padding: 0;
			list-style:none;
		}*/
		div[class^="c-"]{
			 float: left;
			/*padding:15px;*/
			box-sizing:border-box;  
		}
		@media screen and (max-width: 767px){
            .img-responsive{
				max-width: 100%;
				height: auto;
			}


			.c-xs-1{width: 8.33333%;}
			.c-xs-2{width: 16.66666%;}
			.c-xs-3{width: 25%;}
			.c-xs-4{width: 33.33333%;}
			.c-xs-5{width: 41.66666%;}
			.c-xs-6{width: 50%;}
			.c-xs-7{width: 58.33333%;}
			.c-xs-8{width: 66.66666%;}
			.c-xs-9{width: 75%;}
			.c-xs-10{width: 83.33333%;}
			.c-xs-11{width: 91.66666%;}
			.c-xs-12{width: 100%; }
			.c-xs-img{display: none;}

            .c-xs-offset-1{margin-left: 8.33333%;}
            .c-xs-offset-2{margin-left: 16.66666%;}
            .c-xs-offset-3{margin-left: 25%;}
            .c-xs-offset-4{margin-left: 33.33333%;}
            .c-xs-offset-5{margin-left: 41.66666%;}
            .c-xs-offset-6{margin-left: 50%;}
            .c-xs-offset-7{margin-left: 58.33333%;}
            .c-xs-offset-8{margin-left: 66.66666%;}
            .c-xs-offset-9{margin-left: 75%;}
            .c-xs-offset-10{margin-left: 83.33333%;}
            .c-xs-offset-11{margin-left: 91.66666%;}
            .c-xs-offset-12{margin-left: 100%;}
		}
		@media screen and (min-width: 768px){
            .img-responsive{
                max-width: 100%;
                height: auto;
            }
			.c-sm-1{width: 8.33333%;}
			.c-sm-2{width: 16.66666%;}
			.c-sm-3{width: 25%;}
			.c-sm-4{width: 33.33333%;}
			.c-sm-5{width: 41.66666%;}
			.c-sm-6{width: 50%;}
			.c-sm-7{width: 58.33333%;}
			.c-sm-8{width: 66.66666%;}
			.c-sm-9{width: 75%;}
			.c-sm-10{width: 83.33333%;}
			.c-sm-11{width: 91.66666%;}
			.c-sm-12{width: 100%;}

			.c-sm-offset-1{margin-left: 8.33333%;}
			.c-sm-offset-2{margin-left: 16.66666%;}
			.c-sm-offset-3{margin-left: 25%;}
			.c-sm-offset-4{margin-left: 33.33333%;}
			.c-sm-offset-5{margin-left: 41.66666%;}
			.c-sm-offset-6{margin-left: 50%;}
			.c-sm-offset-7{margin-left: 58.33333%;}
			.c-sm-offset-8{margin-left: 66.66666%;}
			.c-sm-offset-9{margin-left: 75%;}
			.c-sm-offset-10{margin-left: 83.33333%;}
			.c-sm-offset-11{margin-left: 91.66666%;}
			.c-sm-offset-12{margin-left: 100%;}
		}
