/*------仿宋體----*/
@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

.wine_box{
    text-align: center;
    margin-top: 20px;
    }

.wine_title , .wine_title_all{
    background-color: transparent;
    /*border-bottom: 1px solid #333;*/
     padding: 10px 0; 
    color: #333;
    font-size: 1.3em;
}

.wine_title p {
    display: inline-block;
    background-color: #f8d486;
    padding: 0 5px;
    margin: 0;
}


.wine_box .wine_title a , .wine_list > ul > li > a{
    text-decoration: none;
    color: #333;
    }

.price{
    padding: 10px ;
    background-color: transparent;
}
.price select{
    font-size: 1.2em;

}
.wine_list{
    background-color: transparent;
}

.wine_list a{
    display: block;
    font-size: 1.2em;
    margin: 10px 0;
}



.wine_item a:hover{
    color:#e1bb56;
}



.ad{
    position: relative;
    margin-top: 12px;
}

.ad img{
    height: auto;
    max-width: 100%;
    position: absolute;
    transition: opacity .5s ease-in-out;
    left:0;
}


.wine_ad {
    position: relative;
   
}
.wine_ad1 a img{
    position: absolute;
    top: 129px;
    left:0;
}

.wine_ad2 a img{
    position: absolute;
    top: 255px;
    left:0;
}

.wine_ad3 a img{
    position: absolute;
    top: 385px;
    left:0;
}
.wine_ad a img:hover{opacity:0;}
.wine_ad1 a img:hover{opacity:0;}
.wine_ad2 a img:hover{opacity:0;}
.wine_ad3 a img:hover{opacity:0;}
