/*------仿宋體----*/

@import url(http://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);

.lightbody {
    background-color: #f7ede3;
}

.mynavbar{
    margin-bottom: 0px;
    background-color: #111111;
    border-color: #111111;
    border-radius: 0px;
}

.mynavbar .navbar-nav > li > a {
    color: rgb(174, 134, 72);
}

.mynavbar .navbar-nav > li > a:hover{
    color: #ccc;
}


.mynavbar .navbar-nav > li > a:focus {
  color: #ccc;
  background-color: transparent;
}


.mynavbar .navbar-nav > .open > a,
.mynavbar .navbar-nav > .open > a:hover,
.mynavbar .navbar-nav > .open > a:focus {
   color: rgb(174, 134, 72);
    background-color: transparent;
}

.mydropdown-menu{
     background-color: #111111;
}

.mydropdown-menu > li > a {
    color: rgb(174, 134, 72);
}
.mydropdown-menu > li > a:hover, 
.mydropdown-menu > li > a:focus {
    color: #ccc;
    text-decoration: none;
    background-color:transparent;
}

.mydropdown-menu .divider {
   
    background-color: #333;
}

.mynavbar .navbar-toggle {
    border-color: rgba(221, 221, 221, 0);
}
@media (min-width: 768px) {
    .mynav > li {
    margin-right: 20px;
    }   
}




/*------------------------------- footer  CSS 開始-------------------------------------------*/

body {
    overflow: scroll;
    overflow-x: hidden;
}

body:after {
    content: '';
    display: block;
    clear: both;
    /*padding-bottom: 150px;*/
}
/*body::-webkit-scrollbar{width: 12px;}
body::-webkit-scrollbar-track {
    background-color: #000;
    border-left: 1px solid #000;
}
body::-webkit-scrollbar-thumb {
    background-color: #6b1219;
}
input:focus{outline: none;}
select:focus{outline: none;}*/

.newfooter {
    
     background-color: rgb(17, 17, 17);

    padding: 10px 0;
}



.newfooter  .cnt {
    color: rgba(255, 255, 255, .9);
   
    text-transform: uppercase;
    

}

.footer_right {
    float: right;
    margin-top: 23px;
    margin-right: 20px;
    font-size: 1.1em;
    
    }

.footer_left{
    color: rgba(174, 134, 72, 0.56);
    font-size: 1.1em;
    float: left;
    margin-top: 32px;
}


.cnt ul li {
    display: inline;
    line-height: 35px;
}

.cnt li {
    padding-right: 20px;
}

/*.cnt li::before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    border-top: solid 1px #fff;
    border-right: solid 1px #fff;
    vertical-align: middle;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: -1px;
}*/

.cnt li a {
    position: relative;
     color:#ae8648;
    text-decoration: none;
}

.cnt li a:hover{
    color: rgba(255, 255, 255, .9);
}

.cnt ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -5px;
    background-color: rgba(255, 255, 255, .8);
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.cnt ul li a:hover:after {
    width: 100%;
}



[type="date"]::-webkit-inner-spin-button {
    display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}


#time,#people {
    color: #000;
    background:-webkit-linear-gradient(#f5f0e4, #f5f0e4 40%, #f5f0e4);
    background-color: #f5f0e4;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    font-size: 1vw;
    padding: 1px 0px 0px 5px;
    width: 150px;
}


#enter_footer {
    background-color: #6B1219;
    border: none;
    border-radius: 18px;
    padding: 1px 60px;
    width: 150px;
    color: #fff;
    text-decoration: none;
}
#enter_footer:hover {
    background-color: #000;
    border: 1px solid #ccc;
}
/*------------------------------- footer　外掛  CSS 開始-------------------------------------------*/




.form_all{
    outline: 1px solid #6b1219;
    width: 500px;
    right: 0;
    left: 0;
    margin: auto;
    padding: 50px;
}
.modaal-content-container h1{
    width: 195px;
    right: 0;
    left: 0;
    margin: -16px auto;
    background-color: #fff;
    display: block;
    position: absolute;
    color: #6b1219;
}
.info1_1{
    width: 550px;
    right: 0;
    left: 0;
    margin: auto;
    line-height: 2;
    padding: 20px 0 0 0;
}
.form-group {
    line-height: 3;
    font-size: 20px;
    color: #000;
}
.form-group_a{
    left: 350px;
    position: relative;
}

button.btn_out {
    width: 50px;
    height: 50px;
}