#sghome_body{
    position: relative;
    background-color: #000;
}


.sgimg{
    width: 100%;
    color: white;
}
.sghome {
    width: 100%;
}

#sghome1{
    position: relative;
    -webkit-filter:brightness(40%);
    -moz-filter:brightness(40%);
    -ms-filter:brightness(40%);
    -o-filter:brightness(40%);
    filter:brightness(40%);

}


#sghome00001{
    position: absolute;
    width: 17vw;
    top: 27vw;
    right: 0;
    left: 0;
    bottom: 0;
    margin:0 auto;}
.sghome2{
    position: relative;
    color: white;
    text-align: center;
}
#sghome00002{
    position: absolute;
    top:30%;
    font-size: 4vw;
    left: 0;
    right: 0;
    margin:0 auto;
    font-style:italic;
    font-family:'Georgia';
}
#sghome00003{
    position: absolute;
    bottom: 20%;
    width: 10vw;
    left: 0;
    right: 0;
    margin:0 auto;
}
#sghome00003:hover{
    background-color: #6b1219;
    border-radius: 50%;
}

.sghome3{
    position: relative;
    color: white;
    font-size: 1.5vw;
    text-align: center;
}
.sghome3 img{
    width: 100%;
    height: 25vw;
}
#sghome3_h2{

    position: absolute;
    top: 30%;
    left: 6%;
    font-style: italic;
    font-size: 4vw;
    font-weight:normal;
    font-family:'Georgia';
}

.sghome3 p{
    text-align: center;
    margin: 15px;
    margin-top: 35px;

}

.sghome4{
    padding: 20px;

}
.sghome_small{
    padding: 20px;
    position: relative;
}
.sghome_small img{
    width: 100%;
    transition: 1s;
}

.sghome_small:before,.sghome_small:after{
    content: '';
    display:block;
    position: absolute;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    z-index: 2;

    transition: 1s;
}

.sghome_small:before{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0);
    transition: 1s;
}
.sghome_small:hover:before{

    background-color: rgba(0,0,0,.5);
}
.sghome_small:after{
    content: 'MORE';
    width: 150px;
    height: 50px;
    font-size: 1.6em;
    line-height:2;
    text-align: center;
    color:#fff;
    background-color:#6b1219;
    opacity: 0;
    /*transition: opacity 0s .7s,transform 1s 0s;*/
}
.sghome_small:hover:after{
    opacity: 1;
    /*transition: opacity 0s 0s,transform 1s 0s;*/


}





.sghome6{
    position: relative;
    color: #f8f8f8;
    text-align: center;
}

#sghome00006{
    position: absolute;
    top:30%;
    font-size: 4vw;
    left: 0;
    right: 0;
    margin:0 auto;
    font-style:italic;
    line-height:1.5;
    font-family:'Georgia';
}

#home_footer{
    position: absolute;
    bottom: 0;
    height: 150px;
}
.goTop{
    width: 40px;
    height: 40px;
    text-align: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border:1px solid #6B1219;
    color: #666;
    line-height: 40px;
    display: none;
    z-index: 10;
}
.goTop i{
    color:#6b1219;
}

